name: Deploy GHCR image to Azure Container App - Dev

on:
  # push:
  #   branches:
  #     - dev
  workflow_dispatch:
    inputs:
      targetEnvironment:
        description: 'Target environment'
        type: choice
        required: true
        options:
          - aca-dev

      imageTag:
        description: 'Tag of the GHCR image (already pushed)'
        required: true

permissions:
  id-token: write        # for Azure OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.targetEnvironment }}

    
    env:
      GHCR_REGISTRY: ghcr.io
      GHCR_ORG: ${{ secrets.GHCR_ORG }}
      GHCR_IMAGE_NAME: ${{ vars.GHCR_IMAGE_NAME }}
      ACA_RESOURCE_GROUP: ${{ vars.ACA_RESOURCE_GROUP }}
      ACA_APP_NAME: ${{ vars.ACA_APP_NAME }}
      GHCR_IMAGE_TAG: ${{ github.event.inputs.imageTag }}

      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.CREDS }}
      # - name: Azure login (OIDC)
      #   uses: azure/login@v2
      #   with:
      #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
      #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      #     secret: ${{ secrets.AZURE_SECRET }}
      #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Update Azure Container App to use GHCR image
        uses: azure/container-apps-deploy-action@v2
        with:
          resourceGroup: ${{ env.ACA_RESOURCE_GROUP }}
          containerAppName: ${{ env.ACA_APP_NAME }}

          # Existing GHCR image (already pushed)
          imageToDeploy: ${{ env.GHCR_REGISTRY }}/${{ secrets.GHCR_ORG }}/${{ vars.GHCR_IMAGE_NAME }}:${{ github.event.inputs.imageTag }}
          # Registry credentials so ACA can pull from GHCR
          registryUrl: ${{ env.GHCR_REGISTRY }}
          registryUsername: ${{ secrets.GHCR_USERNAME }}
          registryPassword: ${{ secrets.GHCR_TOKEN }}
