name: Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for the release'
        required: true
  #push:
  #  tags:
  #    - '*'

env:
  REGISTRY: ghcr.io

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set vars
        id: vars
        run: |
          REPO_NAME=$(echo "$GITHUB_REPOSITORY" | tr '[A-Z]' '[a-z]' | awk -F / '{print $2}')
          # ensure the github.repository is lowercase
          REPO=$(echo "$GITHUB_REPOSITORY" | tr '[A-Z]' '[a-z]')
          echo "repo=$(echo $REPO)" >> $GITHUB_OUTPUT
          # Strip "v" prefix from tag name
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            VERSION="${{ github.event.inputs.tag_name }}"
          else
            VERSION=$(echo ${GITHUB_REF:10} | tr '[A-Z]' '[a-z]')
          fi
          echo "tag=$(echo $VERSION | sed -e 's/^v//')" >> $GITHUB_OUTPUT

      - name: Generate config.js from secrets
        run: |
          cat > backend/config.js <<EOF
          /**
           * Configuration
           * 
           * This file is generated from GitHub Secrets during build.
           * DO NOT COMMIT THIS FILE WITH REAL VALUES!
           */
          module.exports = {
            azure_storage_key: "${{ secrets.LEXICON_EDITOR_AZURE_STORAGE_KEY }}",
            azure_tts_key: "${{ secrets.LEXICON_EDITOR_AZURE_TTS_KEY }}",
            elevenlabs_tts_key: "${{ secrets.LEXICON_EDITOR_ELEVENLABS_TTS_KEY }}"
          };
          EOF

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.vars.outputs.repo }}:${{ steps.vars.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max 
